@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header h1 {
  font-size: 2em;
  font-weight: bold;
}
button {
  cursor: pointer;
}
.album-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
  overflow-y: auto;
}
.album-list .album{
  display: grid;
  grid-template: "container";
  place-items: stretch;
  place-content: stretch;
  overflow: hidden;
  max-height: clamp(450px, 50vh, 600px);   
}
.album-list .album > * {
  grid-area: container;
  max-width: 1000px;
}
.album-list .album > img {
  /* width: 100%;
  height: auto; */
  object-fit: cover;
  z-index: -100;
}
.album-list .album .album-metadata {
  background: radial-gradient(white, rgba(255,255,255,.1));
  display: none;
} 
.album-list .album:hover .album-metadata {
  display: flex;
  object-fit: cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-line {
  --distance-hole: 2px;
  --distance-label: 10px;
  --distance-edge: 27px;
  --label-color: #488ebd;
  --record-color: black;
  background: radial-gradient(
      ellipse, 
      transparent, 
      transparent var(--distance-hole), 
      var(--label-color) var(--distance-hole), 
      var(--label-color) var(--distance-label),
      var(--record-color) var(--distance-label), 
      var(--record-color) var(--distance-edge), 
      transparent var(--distance-edge)
  );
  background-size: 60px 60px;
  height: 60px;
}
.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  flex-grow: 1;
}
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  flex-basis: 125px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: -125px;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.hz-buttons button {
  border: 1px solid black;
  color: black;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  background-color:#85afecfa; 
}
.hz-buttons button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.hz-buttons:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.hz-buttons button:hover {
  background-color:#628ac5fa; 
}
.hz-buttons button:first-child {
  border-radius:5px 0 0 5px;
}
.hz-buttons button:last-child {
  border-radius:0 5px 5px 0;
}

.side-bar-and-content {
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: 0;
  overflow: hidden;
}

.primary-layout {
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

.page-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-controls .page-number {
  margin-left: 1em;
  margin-right: 1em;
}